.card-main-case {
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-direction: column;

}

.card-border {
    border: 2px solid var(--base2);
    cursor: pointer;
}

/* =============== */
/* Style the card */
/* Style the card */
.card-body {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card-body:hover {
    transform: scale(1.02);
}

.card-title {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
}

.card-text p {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.card-text p strong {
    font-weight: bold;
}

.card-text p span {
    flex: 2;
    font-weight: 300;
}

/* Style the last updated text */
.text-body-secondary {
    color: #777;
}

/* Highlight on hover */
.card-text p:hover {
    background-color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
}

.rounded-start {
    height: 100%;
    width: 100%;
}