.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.upload-content {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-container:hover .upload-content {
    background-color: #0056b3;
}

.upload-label {
    margin: 0;
}

.upload-icon {
    color: #fff;
}

.upload-input {
    display: none;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 10px;
    justify-items: center;
    margin: -3rem 7rem;

}


.image-gallery img {
    width: 20rem;
    height: 15rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-gallery img::after {
    content: attr(alt);
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.image-gallery img:hover::after {
    opacity: 1;
}